body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    text-align: center;
}

header {
    margin: 10px auto;
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
}

nav a:hover {
    color: #404BBF;
}

address {
    text-align: center;
}

address ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

address ul li {
    display: inline-block;
    margin: 0 10px;
}

address a {
    text-decoration: none;
    color: #434455;
}

address a:hover {
    color: #404BBF;
}