body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #2E2F42;
    font-weight:500;
}

nav a:hover {
    color: #404BBF;
}

address {
    display: flex;
    align-items: center;
}

address ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

address a {
    text-decoration: none;
    color: #434455;
}

address a:hover {
    color: #404BBF;
}